# Dependencias
node_modules
npm-debug.log*

# Build output
dist
coverage

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# IDE
.vscode
.idea
*.swp
*.swo

# Entorno
.env
.env.*

# Tests
test
**/*.spec.ts
**/*.test.ts
jest.config.*
jest-e2e.json

#Docs
README.md
docs
CHANGELOG.md
LICENSE